AIRFLOW_UID=1000     # echo "AIRFLOW_UID=$(id -u)" > .env
AIRFLOW_GID=1000     # echo "AIRFLOW_GID=$(id -g)" > .env
DOCKER_GID=998       # echo "getent group docker | cut -d: -f3" > .env
HOST_USERNAME=catch  # echo "HOST_USERNAME=$(whoami)" > .env


